@model KolaNaukowe.web.Models.ResearchGroupViewModel

@{
    ViewData["Title"] = "Kola Naukowe";
}

<h2>Kola Naukowe</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <select asp-for="researchGroupSubject" asp-items="Model.subjects">
        <option value="">Tematyka</option>
                </select>
        Nazwa: <input type="text" name="searchName" />
        <input type="submit" value="Wyszukaj" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.researchGroups.ElementAt(0).Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.researchGroups.ElementAt(0).CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.researchGroups.ElementAt(0).Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.researchGroups.ElementAt(0).Subjects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.researchGroups)
        {
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @foreach(var subject in item.Subjects){
                    string sub = $"{subject.Name} ";
                    @Html.DisplayFor(modelItem => sub)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>